.p1{
   
    text-align: center;
}
.image{
   
    text-align: center;
}
footer{
    background-color: #FFE6F0;
    padding: 10px;
    margin: 50px;
    width: 100%;
}
.btn{
    color:black
}
.mb-3{
    width: 30%;
}

.navbar{
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #FFE6F0;
        border: none;
       
      
}
/* Fixed position */
.fixed {
    position: fixed;
    z-index: 1;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 200px;
    background-color: #FFE6F0;
  }
 .form{
    padding-top: 200px;
    display: flex;
    justify-content: center;

 }
 .h1{
    text-align: center;
 }
 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button {
    border: #FFE6F0;
    background-color: #a35c7aa7;
  }
  body{
    height: 100%;
  }