.card-img-top{
    height: 300px;
    object-fit: cover;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.p1{
   
    text-align: center;
}
.image{
   
    text-align: center;
}
footer{
    background-color: #E195AB;
}
.navbar{
    background-color: #E195AB;
}